{% extends 'freight/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}
{% load jfservice_filters %}

{% block details %}
    <form class="form" action="{% url 'freight:calculator' %}" method="POST">        
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your contract</h3>
                    </div>
                    <div class="panel-body">
                        {{ form|bootstrap }}
                        <br>
                        <p><strong>Your Price</strong></p>
                        <h2>                
                            {{ price|power10:"6"|formatnumber:"0"|default_if_none:"-" }} M ISK
                        </h2>
                        <p>Please enter your price as <strong>Reward</strong> in the courier contract.</p>

                        <button class="btn btn-success btn-lg" type="submit">Click To Calculate Price!</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pricing details for selected route</h3>
                    </div>
                    <div class="panel-body" style="min-height: 350px;">    
                        <div id="div_pricing_info"></div>                   
                    </div>
                </div>                
            </div>
        </div>        
    </form>
<br>    
    

        
{% endblock %}

{% block extra_script %}
    function pricing_detail_update(){        
        var value = $("#id_pricing").val();        
        if (value == null) { 
            value = 0;
        }        
        $("#div_pricing_info").load(
            "{% url 'freight:calculator_pricing_info' 0 %}".replace(
                "0",
                value                 
            )            
        );        
    }
    $(document).ready(function(){        
        pricing_detail_update()
        $("#id_pricing").change(function(){                        
            pricing_detail_update()
        });
    });
{% endblock %}