{% load freight_filters %}

{% if pricing %}

    <dl class="dl-horizontal">

        <dt>Route</dt>
        <dd>{{ pricing.name }}</dd>

        <br>

        {% if pricing.price_min %}
            <dt>Minimum price:</dt>
            <dd>{{ pricing.price_min|power10:"6"|formatnumber:"0" }} M ISK</dd>
        {% endif %}

        {% if pricing.price_base %}
            <dt>Base price:</dt>
            <dd>{{ pricing.price_base|power10:"6"|formatnumber:"0" }} M ISK</dd>
        {% endif %}
        
        {% if pricing.price_per_volume %}
            <dt>Price add-on per m3:</dt>
            <dd>{{ pricing.price_per_volume|formatnumber:"0" }} ISK</dd>
        {% endif %}

        {% if pricing.price_per_collateral_percent %}
            <dt>Price add-on collateral:</dt>
            <dd>{{ pricing.price_per_collateral_percent }} %</dd>
        {% endif %}

        <br>
        {% if pricing.volume_min %}
            <dt>Min Volume:</dt>
            <dd>{{ pricing.volume_min|power10:"3"|formatnumber:"0"|default_if_none:"-" }} K m3</dd>
        {% endif %}
        
        {% if pricing.volume_max %}
            <dt>Max Volume:</dt>
            <dd>{{ pricing.volume_max|power10:"3"|formatnumber:"0"|default_if_none:"-" }} K m3</dd>
        {% endif %}

        {% if pricing.collateral_min %}
            <dt>Min. Collateral:</dt>
            <dd>{{ pricing.collateral_min|power10:"6"|formatnumber:"0" }} M ISK</dd>
        {% endif %}

        {% if pricing.collateral_max %}
            <dt>Max. Collateral:</dt>        
            <dd>{{ pricing.collateral_max|power10:"6"|formatnumber:"0" }} M ISK</dd>
        {% endif %}


        <br>

        {% if pricing.details %}
            <dt>Additional Instructions:</dt>
            <dd>{{ pricing.details|linebreaks }}</dd>
        {% endif %}

    </dl>

{% else %}

    <p class="text-warning">No pricing defined yet</p>

{% endif %}

<style>
    .dl-horizontal dt { text-align: left; }
</style>