{% extends 'freight/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load freight_filters %}

{% block details %}
    
    <div class="panel panel-primary">   
        <div class="panel-heading">
            <h3 class="panel-title">Courier Contracts</h3>
        </div>
        <div class="panel-body">        
            <table class="table table-striped" id="tab_contracts">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Start</th>
                        <th>End</th>                        
                        <th>Reward<br>Mio ISK</th>
                        <th>Collaterial<br>Mio ISK</th>
                        <th>Volume<br>K m3</th>
                        <th>Price Check</th>
                        <th>Issued On</th>
                        <th>Expires On</th>
                        <th>Issued By</th>
                        <th>Accepted On</th>
                        <th>Accepted By</th>
                    </tr>
                </thead>
                <tbody>                   
                </tbody>                
            </table>
        </div>
    </div>
    <p class="text-muted">
        Price check: 
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> = OK &nbsp;&nbsp; 
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> = Errors &nbsp;&nbsp;
        If they are errors you find them in the tooltip of the shown symbol &nbsp;&nbsp;
        <strong>N/A</strong> = No pricing found for this route
    </p>
    
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}    
    
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}    

    <link 
        href="{% static 'freight/contracts.css' %}" 
        type="text/css" 
        rel="stylesheet"
    >
{% endblock %}

{% block extra_script %}
    $(document).ready(function(){
        $('#tab_contracts').DataTable({            
            ajax: {
                url: '{% url 'freight:contract_list_data' category %}',
                dataSrc: '',
                cache: false
            },

            columns: [
                { data: 'status' },
                { data: 'start_location' },
                { data: 'end_location' },                
                { data: 'reward' },
                { data: 'collateral' },
                { data: 'volume' },
                { data: 'pricing_check' },
                { data: 'date_issued' },
                { data: 'date_expired' },
                { data: 'issuer' },
                { data: 'date_accepted' },
                { data: 'acceptor' }
            ],

            order: [ [ 7, "desc" ] ],
        });       
    });
{% endblock %}
