include LICENSE
include README.md
include freight/swagger.json
recursive-include freight *.py
recursive-include freight/static *
recursive-include freight/templates *
recursive-include freight/templatetags *.py
recursive-exclude freight/templatetags *.pyc
recursive-exclude testauth *.*
recursive-exclude freight/tests *.*
