{% load jfservice_filters %}

<dl class="dl-horizontal">

    <dt>Route</dt>
    <dd>{{ pricing.name }}</dd>
    
    <dt>Base price:</dt>
    <dd>{{ pricing.price_base|power10:"6"|formatnumber:"0"|default_if_none:"0" }} M ISK</dd>
    
    <dt>Price add-on per m3:</dt>
    <dd>{{ pricing.price_per_volume|formatnumber:"0"|default_if_none:"0" }} ISK</dd>

    <dt>Price add-on collateral:</dt>
    <dd>{{ pricing.price_per_collateral_percent|default_if_none:"0" }} %</dd>

    <dt>Min. Collateral:</dt>
    <dd>{{ pricing.collateral_min|power10:"6"|formatnumber:"0"|default_if_none:"0" }} M ISK</dd>

    <dt>Max. Collateral:</dt>        
    <dd>{{ pricing.collateral_max|power10:"6"|formatnumber:"0"|default_if_none:"0" }} M ISK</dd>
    
    <dt>Start:</dt>
    <dd>{{ pricing.start_location }}</dd>

    <dt>Destination:</dt>
    <dd>{{ pricing.end_location }}</dd>

    <dt>Max Volume:</dt>
    <dd>{{ pricing.volume_max|power10:"3"|formatnumber:"0"|default_if_none:"-" }} K m3</dd>

    <dt>Expiration</dt>
    <dd>{{ pricing.days_to_expire|default_if_none:"-" }} days</dd>

    <dt>Completion</dt>           
    <dd>{{ pricing.days_to_complete|default_if_none:"-" }} days</dd>

    <dt>Additional Instructions:</dt>
    <dd>{{ pricing.details|linebreaks }}</dd>

</dl>

<style>
    .dl-horizontal dt { text-align: left; }
</style>