{% load staticfiles %}
{% load i18n %}
{% load navactive %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'jfservice:index' %}">{% trans "Freight Shipping" %}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% navactive request 'jfservice:calculator' %}"><a href="{% url 'jfservice:calculator' %}">Price Calculator</a> </li>
                <li class="{% navactive request 'jfservice:contract_list' %}"><a href="{% url 'jfservice:contract_list' %}">Contracts</a> </li>                
            </ul>
            <ul class="nav navbar-nav navbar-right"> 
                {% if perms.jfservice.access_jfservice %}
                    <a class="btn btn-warning navbar-btn" href="{% url 'jfservice:create_or_update_service' %}">Setup Alliance Character</a>
                {% endif %}
                {% if perms.jfservice.access_jfservice %}
                    <a class="btn btn-default navbar-btn" href="{% url 'jfservice:add_location' %}">Add Location</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
